@import url("./header.css");
@import url("./input-box.css");
@import url("./result.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  color: #222222;
  background-color: #ffffff;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.separator{
  width: 98%;
  height: 3px;

  border-radius: 2px;
  background-color: #222222aa;
}
.title>h1{
  text-align: center;
}
select{
  padding: 4px 2px;
  width: 98%;

  text-align: center;

  border: 2px solid #222222aa;
  background-color: transparent;
  border-radius: 10px;
}

input{
  padding: 4px 2px;
  width: 98%;

  text-align: center;

  border: 2px solid #222222aa;
  background-color: transparent;
  border-radius: 10px;
}