header{
  padding: 5vh 2vw;
  width: 100%;

  display: flex;
  align-items: last baseline;
  justify-content: center;
  gap: 5px;
}
header > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header > div > span{
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bolder;
}
header > :nth-child(3) {
  transform: scaleX(-1);
}

@media only screen and (max-width: 504px) {
  header > div > span{
    font-size: 5vw;
  }
}